<div class="container">
    <h1 style="text-align: center; color: rgb(9, 59, 103);">Custome Directives</h1>

    <div class="item">
        <form [formGroup]="myForm" (ngSubmit)="Submit()">
            <label for="">Name</label><br>
            <input type="text" formControlName="name" appCust>
            <br>
            <label for="">Email</label><br>
            <input type="text" formControlName="email" appCust>
            <br>
            <label for="">Password</label><br>
            <input type="password" formControlName="password" appCust>
            <br><br>
            <button type="submit" [disabled]="myForm.invalid">Submit</button>
        </form>
        
    </div>
</div>
