<div class="container mt-5">
    <h1 class="text-center mb-4">Angular Building Blocks</h1>
    <div class="row row-cols-4 row-cols-md-5 g-4">
        <div class="col">
            <div class="card" routerLink="template">
                <div class="card-body">
                    <h5 class="card-title text-center">Template Form</h5>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" routerLink="reactive">
                <div class="card-body">
                    <h5 class="card-title text-center">Reactive Form</h5>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" routerLink="cust-pipe">
                <div class="card-body">
                    <h5 class="card-title text-center">Pipes</h5>
                </div>
            </div>
        </div>

         <div class="col">
            <div class="card" routerLink="cust-dir">
                <div class="card-body">
                    <h5 class="card-title text-center">Directives</h5>
                </div>
            </div>
        </div>

         <div class="col">
            <div class="card" routerLink="cust">
                <div class="card-body">
                    <h5 class="card-title text-center">Dynamic Inputs</h5>
                </div>
            </div>
        </div>

         <div class="col">
            <div class="card" routerLink="cust">
                <div class="card-body">
                    <h5 class="card-title text-center">Custome Pipe</h5>
                </div>
            </div>
        </div>
    </div>
</div>